@use "../abstracts/variables";
// header
.header {
  &-top {
    background: variables.$blue;
  }

  &-top__box {
    padding: 13px 0;
    display: flex;
    justify-content: space-between;
  }

  &-top__number,
  &-top__desc {
    font-family: "Mazzardh", sans-serif;
    font-size: 14px;
    line-height: 45px;
    color: variables.$white;
  }
  &-menu {
    padding: 10px 0;
  }
  &-menu__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    width: 174px;
    height: 94px;

    &.log-img {
      width: 100%;
      height: 100%;
    }
  }

  .nav-list {
    display: flex;
    gap: 2px;
    align-items: center;
    .nav-item {
      line-height: 97px;
    }
    .nav-link {
      font-family: "Mazzardh", sans-serif;
      font-size: 14px;
      font-weight: 600;
      color: variables.$deep-gray;
      text-transform: uppercase;
      transition: 0.3s linear;
      padding: 9px 20px;
      border-radius: 10px;
    }
    .nav-link.active,
    .nav-link:hover {
      background: variables.$brown;
      color: variables.$white;
    }
  }
}
