@use "../abstracts/variables";
body {
    font-family: "Atyp", sans-serif;
    font-weight: 400;
}

.title {
    font-family: "Atyp", sans-serif;
    font-size: 22px;
    line-height: 28.07px;
    color: variables.$primary-title;
}

.desc {
    font-family: Open Sans;
    font-size: 14px;
    line-height: 28px;
    color: variables.$gray;
}
.title-info {
    font-size: 20px;
        line-height: 25.52px;
        color: variables.$blue;
        padding: 29px 0 13px 0;
        max-width: inherit;
}